body{
	background-image: url("img/background.gif");
	overflow: hidden;
	background-color: white;
}

.container{
	width:1535px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.footer{
	background-image: url("img/footer.png");
	position: absolute;
	left: 670px;
	top: 650px;
	width: 167px;
	height: 13px;
}

#divfooterkanan{
	width:100%;
	height:50px;
	position: absolute;
	top: 730px;
	left: -140px;
}

/* ANIMATION SOCIAL MEDIA ICON */
.wrapper {
	top: 50%;
	left: 50%;
	transform: translate(-10%, -10%);
	width: 350px;
	margin-left:50%;
	margin-top:-10%;
  }
  
  .wrapper ul {
	list-style: none;
  }
  
  .wrapper ul li {
	width: 24px;
	height: 24px;
	line-height: 15px;
	margin: 0 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 3px solid rgb(135, 25, 27);
	float: left;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li .fa {
	color: rgb(135, 25, 27);
	margin-top: 4.5px;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.facebook {
	border: 5px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-facebook {
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.twitter {
	border: 5px solid #00aced;
	box-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-twitter {
	color: #00aced;
	text-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.instagram {
	border: 5px solid #bc2a8d;
	box-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-instagram {
	color: #bc2a8d;
	text-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.google {
	border: 5px solid #dd4b39;
	box-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-google {
	color: #dd4b39;
	text-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.whatsapp {
	border: 5px solid #4dc247;
	box-shadow: 0 0 15px #4dc247;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-whatsapp {
	color: #4dc247;
	text-shadow: 0 0 15px #4dc247;
	transition: all 0.5s ease;
  }

/* ANIMATION ICON */
#swap-on-hover {
	position: absolute;
}
#swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity .5s linear;
  cursor: pointer;
}
#swap-on-hover:hover > .swap-on-hover__front-image{
	display: none;
}
#swap-on-hover:hover > .swap-on-hover__back-image{
  opacity: 1;
}

.swap-on-hover__back-image{
	opacity:0;
	position: relative;
}




#logo{
	background-image: url("img/logo.png");
	position: absolute;
	top : 310px;
	left :605px;
	width: 322px;
	height:190px;
}


