body{
	background-image: url("img/background.png");
	overflow: hidden;
	background-color: black;
}

.container{
	width:1535px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.divRamen{
	background-color: transparent;
	position: absolute;
	left: 220px;
	top: 80px;
	width: 1000px;
	height: 300px;
	z-index: 0;
}

@font-face{
	font-family: "PhontPhreak'sHandwriting";
	src: url("font/font_isi.eot");
}
@font-face{
	font-family: "PhontPhreak'sHandwriting";
	src: url("font/font_isi.ttf");
}
@font-face{
	font-family: "Chihaya";
	src: url("font/font_judul.eot");
}
@font-face{
	font-family: "Chihaya";
	src: url("font/font_judul.ttf");
}
.ok{
	background-image: url("img/ok.png");
	left: 150px; 
	top: 100px;
	width: 36px;
	height: 52px;
	position: relative;
}

.ok:hover{
	background-image: url("img/ok-selected.png");
}

.menu {
	background-image: url("img/menu.png");
	position: absolute;
	width: 8px;
	height: 42px;
	left: 36px;
	top: 121px;
	z-index: 18;
}
.menu:hover{
	cursor: pointer;
}

.menu-ramen{
	background-image: url("img/menu-ramen.png");
	position: absolute;
	width: 45px;
	height: 50px;
	left: 18px;
	top: 180px;
	opacity: 0;
	cursor: pointer;
}
.menu-onigiri{
	background-image: url("img/menu-onigiri.png");
	position: absolute;
	width: 54px;
	height: 55px;
	left: 18px;
	top: 250px;
	opacity: 0;
	cursor: pointer;
}
.menu-maki{
	background-image: url("img/menu-maki.png");
	position: absolute;
	width: 54px;
	height: 49px;
	left: 18px;
	top: 320px;
	opacity: 0;
	cursor: pointer;
}
.menu-sushi{
	background-image: url("img/menu-sushi.png");
	position: absolute;
	width: 58px;
	height: 48px;
	left: 18px;
	top: 390px;
	opacity: 0;
	cursor: pointer;
}
.menu-teapot{
	background-image: url("img/menu-teapot.png");
	position: absolute;
	width: 48px;
	height: 55px;
	left: 18px;
	top: 460px;
	opacity: 0;
	cursor: pointer;
}

.logo{
	background-image: url("img/logo.png");
	position: absolute;
	width: 61px;
	height: 61px;
	left: 18px;
	top: 650px;
}
.logo:hover{
	cursor: pointer;
}

.receipt{
	background-image: url("img/receipt.png");
	position: absolute;
	width: 36px;
	height: 48px;
	left: 22px;
	top: 30px;
}
.receipt:hover{cursor: pointer;}

@keyframes move {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	   	transform: translate(0px, 50px);
	}
}
@keyframes move-out {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	   	transform: translate(0px, -50px);
	}
}
  
  
  
  
  

