body{
	background-image: url("img/background.png");
	overflow: hidden;
	background-color: black;
	background-size: cover;
}
.rb1kanan{
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 900px;
	top: 127px;
	width: 11px;
	height: 11px;
	z-index: 1;
}
.rb2kanan{
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 900px;
	top: 522px;
	width: 11px;
	height: 11px;
	z-index: 1;
}
.rb3kanan{
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 900px;
	top: 448px;
	width: 11px;
	height: 11px;
	z-index: 1;
}
.rb1kiri{
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 622px;
	top: 533px;
	width: 11px;
	height: 11px;
	z-index: 1;
}
.rb2kiri{
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 540px;
	top: 533px;
	width: 11px;
	height: 11px;
	z-index: 1;
}

.confirmBtn {
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 14px;
	position: absolute;
	left: 760px;
	top: 645px;
	width: 114px;
	height: 31px;
	z-index: 1;
	color: white;
	font-family: 'Aqua Grotesque';
}
.confirmBtn:hover{border-color: rgb(125,23,25); color:rgb(125,23,25); cursor: pointer;}
  


/* BAGIAN KIRI */
.cart{
	background-image: url("img/cart.png");
	position: absolute;
	left: 0;
	top: 0;
	width: 1535px;
	height: 756px;
}
/* barang ke 1 */
.minus1{
	left: 415px;
	top: 250px;
	font-family: 'Aqua Grotesque';
	font-size: 15pt;
	color: white;
	position: absolute;
	z-index: 1;
}
.plus1{
	left: 505px;
	top: 250px;
	font-family: 'Aqua Grotesque';
	font-size: 15pt;
	color: white;
	position: absolute;
	z-index: 1;
}
.jmlOrder1{
	left: 460px;
	top: 250px;
	font-family: 'Aqua Grotesque';
	font-size: 15pt;
	color: white;
	position: absolute;
}
/* barang ke 2 */
.minus2{
	left: 415px;
	top: 355px;
	font-family: 'Aqua Grotesque';
	font-size: 15pt;
	color: white;
	position: absolute;
	z-index: 1;
}
.plus2{
	left: 505px;
	top: 355px;
	font-family: 'Aqua Grotesque';
	font-size: 15pt;
	color: white;
	position: absolute;
	z-index: 1;
}
.jmlOrder2{
	left: 460px;
	top: 355px;
	font-family: 'Aqua Grotesque';
	font-size: 15pt;
	color: white;
	position: absolute;
}
/* barang ke 3 */
.minus3{
	left: 415px;
	top: 460px;
	font-family: 'Aqua Grotesque';
	font-size: 15pt;
	color: white;
	position: absolute;
	z-index: 1;
}
.plus3{
	left: 505px;
	top: 460px;
	font-family: 'Aqua Grotesque';
	font-size: 15pt;
	color: white;
	position: absolute;
	z-index: 1;
}
.jmlOrder3{
	left: 460px;
	top: 460px;
	font-family: 'Aqua Grotesque';
	font-size: 15pt;
	color: white;
	position: absolute;
}
/* plus minus hover */
.plus1:hover{color: red; cursor: pointer;}
.plus2:hover{color: red; cursor: pointer;}
.plus3:hover{color: red; cursor: pointer;}
.minus1:hover{color: red; cursor: pointer;}
.minus2:hover{color: red; cursor: pointer;}
.minus3:hover{color: red; cursor: pointer;}








/* BAGIAN KANAN */
.delivTake{
	background-image: url("img/delivery&takeway.png");
	position: absolute;
	left: 900px;
	top: 124px;
	width: 410px;
	height: 457.5px;
}
.textbox{
	background-color: transparent;
	color: white;
	left: 1040px;
	position: absolute;
	width: 200px;
	height: 50px;
	font-size: 15pt;
	font-family: 'Aqua Grotesque';
	border: 0px solid black;
}








/* NAVBAR YANG DIKIRI */
.logo{
	background-image: url("img/logo.png");
	position: absolute;
	width: 61px;
	height: 61px;
	left: 18px;
	top: 650px;
}







/* The Modal (background)  <-- (menu popup setting)*/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .checkout-content {
	background-color: transparent;
	margin-left: 15%; margin-right: 10%;
	margin-top: -2%;
	padding: 20px;
	border: 1px solid rgb(125,23,25);
	border-radius: 15px;
	width: 75%;
	height: 77%;
	display: block;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
	
  


  

/* isi menu popup */

.confirmationInvoice{
	position: absolute;
	left: 305px;
	top: 123px;
	width: 1030px;
	height: 460px;
	z-index: 1;
}



/* MENU NAVBAR DAN LOGO */
.menu {
	background-image: url("img/menu.png");
	position: absolute;
	width: 8px;
	height: 42px;
	left: 36px;
	top: 121px;
	z-index: 18;
}
.menu:hover{
	cursor: pointer;
}

.menu-ramen{
	background-image: url("img/menu-ramen.png");
	position: absolute;
	width: 45px;
	height: 50px;
	left: 18px;
	top: 180px;
	opacity: 0;
	cursor: pointer;
}
.menu-onigiri{
	background-image: url("img/menu-onigiri.png");
	position: absolute;
	width: 54px;
	height: 55px;
	left: 18px;
	top: 250px;
	opacity: 0;
	cursor: pointer;
}
.menu-maki{
	background-image: url("img/menu-maki.png");
	position: absolute;
	width: 54px;
	height: 49px;
	left: 18px;
	top: 320px;
	opacity: 0;
	cursor: pointer;
}
.menu-sushi{
	background-image: url("img/menu-sushi.png");
	position: absolute;
	width: 58px;
	height: 48px;
	left: 18px;
	top: 390px;
	opacity: 0;
	cursor: pointer;
}
.menu-teapot{
	background-image: url("img/menu-teapot.png");
	position: absolute;
	width: 48px;
	height: 55px;
	left: 18px;
	top: 460px;
	opacity: 0;
	cursor: pointer;
}

.logo{
	background-image: url("img/logo.png");
	position: absolute;
	width: 61px;
	height: 61px;
	left: 18px;
	top: 650px;
}
.logo:hover{
	cursor: pointer;
}
  

@keyframes move {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	   	transform: translate(0px, 50px);
	}
}
@keyframes move-out {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	   	transform: translate(0px, -50px);
	}
}