body{
	background-image: url("img/background.png");
	overflow: hidden;
	background-color: black;
}

.container{
	width:1535px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

@font-face{
	font-family: "PhontPhreak'sHandwriting";
	src: url("font/font_isi.eot");
}
@font-face{
	font-family: "PhontPhreak'sHandwriting";
	src: url("font/font_isi.ttf");
}
@font-face{
	font-family: "Chihaya";
	src: url("font/font_judul.eot");
}
@font-face{
	font-family: "Chihaya";
	src: url("font/font_judul.ttf");
}
.text-jenis {
	font-size: 41.667px;
	font-family: "PhontPhreak'sHandwriting";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
	position: absolute;
	z-index: 28;
}
.text-harga {
	font-size: 41.667px;
	font-family: "Chihaya";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
	position: absolute;
	z-index: 25;
}
.text-name {
	font-size: 58.333px;
	font-family: "Chihaya";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
	position: absolute;
}

.gbr-onigiri1 {
	background-image: url("img/onigiri1.png");
	position: absolute;
	left: 207px;
	top: 250px;
	width: 315px;
	height: 258px;
	z-index: 30;
}
  
.gbr-onigiri2 {
	background-image: url("img/onigiri2.png");
	position: absolute;
	left: 600px;
	top: 265px;
	width: 330px;
	height: 245px;
	z-index: 31;
}
.gbr-onigiri3 {
	background-image: url("img/onigiri3.png");
	position: absolute;
	left: 1010px; 
	top: 250px;
	width: 305px;
	height: 259px;
	z-index: 32;
}
  
.ok1{
	background-image: url("img/ok.png");
	position: absolute;
	left: 370px; 
	top: 150px;
	width: 36px;
	height: 52px;
}
.ok2{
	background-image: url("img/ok.png");
	position: absolute;
	left: 785px; 
	top: 150px;
	width: 36px;
	height: 52px;
}
.ok3{
	background-image: url("img/ok.png");
	position: absolute;
	left: 1180px; 
	top: 150px;
	width: 36px;
	height: 52px;
}
.ok1:hover{
	background-image: url("img/ok-selected.png");
}
.ok2:hover{
	background-image: url("img/ok-selected.png");
}
.ok3:hover{
	background-image: url("img/ok-selected.png");
}

.menu {
	background-image: url("img/menu.png");
	position: absolute;
	width: 8px;
	height: 42px;
	left: 36px;
	top: 121px;
	z-index: 18;
}
.menu:hover{
	cursor: pointer;
}

.menu-ramen{
	background-image: url("img/menu-ramen.png");
	position: absolute;
	width: 45px;
	height: 50px;
	left: 18px;
	top: 180px;
	opacity: 0;
	cursor: pointer;
}
.menu-onigiri{
	background-image: url("img/menu-onigiri.png");
	position: absolute;
	width: 54px;
	height: 55px;
	left: 18px;
	top: 250px;
	opacity: 0;
	cursor: pointer;
}
.menu-maki{
	background-image: url("img/menu-maki.png");
	position: absolute;
	width: 54px;
	height: 49px;
	left: 18px;
	top: 320px;
	opacity: 0;
	cursor: pointer;
}
.menu-sushi{
	background-image: url("img/menu-sushi.png");
	position: absolute;
	width: 58px;
	height: 48px;
	left: 18px;
	top: 390px;
	opacity: 0;
	cursor: pointer;
}
.menu-teapot{
	background-image: url("img/menu-teapot.png");
	position: absolute;
	width: 48px;
	height: 55px;
	left: 18px;
	top: 460px;
	opacity: 0;
	cursor: pointer;
}

.logo{
	background-image: url("img/logo.png");
	position: absolute;
	width: 61px;
	height: 61px;
	left: 18px;
	top: 650px;
}
.logo:hover{
	cursor: pointer;
}

.receipt{
	background-image: url("img/receipt.png");
	position: absolute;
	width: 36px;
	height: 48px;
	left: 22px;
	top: 30px;
}
.receipt:hover{cursor: pointer;}

@keyframes move {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	   	transform: translate(0px, 50px);
	}
}
@keyframes move-out {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	   	transform: translate(0px, -50px);
	}
}
  
  
  
  
  

