body{
	background-image: url("img/background0.png");
	overflow: hidden;
	background-color: black;
	background-size: cover;
}

.container{
	width:1535px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.bulatan1 {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 1156px;
	top: 261px;
	width: 11px;
	height: 11px;
	z-index: 9;
}

.bulatan2 {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 1129px;
	top: 261px;
	width: 11px;
	height: 11px;
	z-index: 7;
}

.bulatan3 {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 1102px;
	top: 261px;
	width: 11px;
	height: 11px;
	z-index: 5;
}
.bulatan4 {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 1075px;
	top: 261px;
	width: 11px;
	height: 11px;
	z-index: 3;
}
.description{
	background-image: url("img/text1.png");
	position: absolute;
	left: 1075px;
	top: 310px;
	width: 356px;
	height: 222px;
	background-size: cover;
}

.logo{
	background-image: url("img/logo.png");
	position: absolute;
	width: 61px;
	height: 61px;
	left: 18px;
	top: 650px;
}
.logo:hover{
	cursor: pointer;
}

.box {
	background: transparent;
	width: 63px;
	height: 152px;
	position: absolute;
	top: 412px;
	left: 690px;
	transition: transform 1s linear;
	transform-origin: bottom left;
	transform-style: preserve-3D;
	background-image: url("img/textRotate.png");
	opacity: 0;
}
  
.box-rotate {
	transform: rotate(90deg);
}
	
  


  
  
  
  
  

